#container-main-projects{
    padding: 30px 45px;
}
#main-projects{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.project{
    height: 440px;
    background-color: #262521;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 2px;
}
.project h4, .project h3{
    margin: 5px 0;
}
.project h4{
    color: #777777;
    font-family: Metropolis-Regular;
}
.project h3{
    color: #ffffff;
    font-size: 1.7em;
    font-family: Metropolis-Semibold;
}
.project .print-project{
    align-self: center;
    position: relative;
}
.print-project .project-img{
    position: absolute;
    top: 18%;
    width: 92.5%;
    height: 53%;
    left: 50%;
    transform: translate(-50%);
}
.print-project .computer-image{
    max-width: 290px;
    margin-top: 40px;
}
.project a{
    margin-top: 40px;
    align-self: flex-end;
}
.project a svg{
    color: var(--default-color-theme);
    width: 30px;
}
#more-projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}
#more-projects h3{
    margin: 0;
    font-size: 1.4em;
    color: #777777;
    font-family: Metropolis-Light;
}
#more-projects a svg{
    color: var(--default-color-theme);
    width: 90px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 970px) {
    #container-main-projects{
        padding-bottom: 0;
    }
    #main-projects{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    #container-main-projects{
        padding: 20px 12px 0 12px;
    }
    .project{
        height: auto;
    }
}

@media only screen and (max-width: 360px) {
    .print-project .project-img{
        top: 20%;
    }
    .print-project .computer-image{
        max-width: 235px;
    }
}
