footer{
    margin-top: 120px;
    background-color: #333333;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
footer h2{
    font-family: Metropolis-Black;
    color: #ffffff;
}
#socials-network{
    display: flex;
    gap: 25px;
}
#socials-network a img{
    width: 35px;
}